.player-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    align-items: center;
    justify-content: center;
    margin: 0 auto;  /* center the container on the page */
    max-width: 960px;  /* set a maximum width for the container */
  }
  .player-page h1 {
    font-size: 50px;
    margin-bottom: 0.5em;
  }
  
  .player-page img {
    max-width: 100%;
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
  }
  
  .player-page h2 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0.5em;
    align-items: center;
    justify-content: center;
  }
  
  .player-page a {
    font-size: 1.2em;
    color: blue;
    text-decoration: none;
  }
  
  .player-lhs {
    grid-column: 1 / span 1;
    align-items: center;
    justify-content: center;
  }
  
  .player-rhs {
    grid-column: 2 / span 1;
    align-items: center;
    justify-content: center;
  }

  .rating{
    font-size: 20px;
  }
  